body {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;

    background-image: url("../img/nerd-face-emoji-clever-emoticon-glasses-geek-student-nerd-face-emoji-clever-emoticon-glasses-geek-student-vector-158921431.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

#main {
    margin-top: 80px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

button {
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

input {
    padding: 5px;
    text-align: center;
}

header h1 {
    margin-top: 40px;
}
